#calculator{
    background-color: rgb(22, 22, 22);
    border-radius: 15px;
    width: 50%;
    margin-left: 300px;
}

#screen{
    width: 99%;
    height: 15vh;
    background-color: rgb(54, 53, 53);
    font-size: 4rem;
    color: white;
    border-radius: 10px;
    border: none;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 10px;
}

.operator{
    background-color: orange;
    color: white;
}

.operator:hover{
    background-color: rgb(245, 176, 47);
}

.operator:active{
    background-color: rgb(243, 188, 87);
}

button{
    width: 100px;
    height: 100px;
    background-color: rgb(44, 43, 43);
    color: white;
    border-radius: 100px;
    font-size: 3rem;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: rgb(68, 67, 67);
}

button:active{
    background-color: rgb(97, 96, 96);
}

@media (max-width: 885px){
    #calculator{
        margin-left: 200px;
    }

    button{
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 722px){
    #calculator{
        margin-left: 200px;
    }

    button{
        width: 70px;
        height: 70px;
        font-size: 3rem;
    }
}

@media (max-width: 640px){
    #calculator{
        width: 60%;
        margin-left: 100px;
    }

    button{
        width: 70px;
        height: 70px;
        font-size: 2rem;
    }
}

@media (max-width: 540px){
    #calculator{
        width: 60%;
        margin-left: 100px;
    }

    button{
        width: 60px;
        height: 60px;
        font-size: 2rem;
    }
}

@media (max-width: 470px){
    #calculator{
        width: 70%;
        margin-left: 60px;
    }

    button{
        width: 60px;
        height: 60px;
        font-size: 2rem;
    }
}

@media (max-width: 405px){
    #calculator{
        width: 72%;
        margin-left: 60px;
        margin-top: 100px;
    }

    button{
        width: 50px;
        height: 50px;
        font-size: 1rem;
    }
}
