*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mp3clone{
    text-align: center;
}

.title{
    font-size: 70px;
    color: white;
    text-shadow: 5px 5px 3px blueviolet, -5px -5px 3px red;
}

.developer{
    font-size: 20px;
    color: white;
}

.babaero{
    background-color: gray;
    margin-top: 20px;
    margin-left: 130px;
    width: 80%;
    height: 30vh;
    border-radius: 20px;
    border: solid white;
}

.hevabi{
    float: left;
    height: 25vh;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    border: solid white;
}

.hevabi:hover{
    box-shadow: 10px 10px 15px black, -10px -10px 15px black;
}

.babaerobar{
    width: 75%;
    height: 5vh;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    border: solid black;
}

.tit1{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.tit1info{
    text-align: center;
    color: white;
}

.palagi{
    background-color: gray;
    margin-top: 20px;
    margin-left: 130px;
    width: 80%;
    height: 30vh;
    border-radius: 20px;
    border: solid black;
    border: solid white;
}

.tjmonterde{
    float: left;
    width: 16%;
    height: 25vh;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    border: solid white;
}

.tjmonterde:hover{
    box-shadow: 10px 10px 15px black, -10px -10px 15px black;
}

.palagibar{
    width: 75%;
    height: 5vh;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    border: solid black;
}

.tit2{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.tit2info{
    text-align: center;
    color: white;
}

.bibingka{
    background-color: gray;
    margin-top: 20px;
    margin-left: 130px;
    width: 80%;
    height: 30vh;
    border-radius: 20px;
    border: solid black;
    border: solid white;
}

.benandben{
    float: left;
    height: 25vh;
    width: 16%;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    border: solid white;
}

.benandben:hover{
    box-shadow: 10px 10px 15px black, -10px -10px 15px black;
}

.bibingkabar{
    width: 75%;
    height: 5vh;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    border: solid black;
}

.tit3{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.tit3info{
    text-align: center;
    color: white;
}

.tenerifesea{
    background-color: gray;
    margin-top: 20px;
    margin-left: 130px;
    width: 80%;
    height: 30vh;
    border-radius: 20px;
    border: solid black;
    border: solid white;
}

.edsheeran{
    float: left;
    height: 25vh;
    width: 16%;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    border: solid white;
}

.edsheeran:hover{
    box-shadow: 10px 10px 15px black, -10px -10px 15px black;
}

.tenerifeseabar{
    width: 75%;
    height: 5vh;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    border: solid black;
}

.tit4{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.tit4info{
    text-align: center;
    color: white;
}

.saan{
    background-color: gray;
    margin-top: 20px;
    margin-left: 130px;
    width: 80%;
    height: 30vh;
    border-radius: 20px;
    border: solid black;
    border: solid white;
}

.maki{
    float: left;
    height: 25vh;
    width: 16%;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    border: solid white;
}

.maki:hover{
    box-shadow: 10px 10px 15px black, -10px -10px 15px black;
}

.saanbar{
    width: 75%;
    height: 5vh;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    border: solid black;
}

.tit5{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.tit5info{
    text-align: center;
    color: white;
}

.walangalam{
    background-color: gray;
    margin-top: 20px;
    margin-left: 130px;
    width: 80%;
    height: 30vh;
    border-radius: 20px;
    border: solid black;
    border: solid white;
}

.hevabi{
    float: left;
    height: 25vh;
    width: 16%;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    border: solid white;
}

.hevabi:hover{
    box-shadow: 10px 10px 15px black, -10px -10px 15px black;
}

.walangalambar{
    width: 75%;
    height: 5vh;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    border: solid black;
}

.tit6{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.tit6info{
    text-align: center;
    color: white;
}

.cruelsummer{
    background-color: gray;
    margin-top: 20px;
    margin-left: 130px;
    width: 80%;
    height: 30vh;
    border-radius: 20px;
    border: solid black;
    border: solid white;
}

.taylorswift{
    float: left;
    height: 25vh;
    width: 16%;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    border: solid white;
}

.taylorswift:hover{
    box-shadow: 10px 10px 15px black, -10px -10px 15px black;
}

.cruelsummerbar{
    width: 75%;
    height: 5vh;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    border: solid black;
}

.tit7{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.tit7info{
    text-align: center;
    color: white;
}

.sumugal{
    background-color: gray;
    margin-top: 20px;
    margin-left: 130px;
    width: 80%;
    height: 30vh;
    border-radius: 20px;
    border: solid black;
    border: solid white;
}

.hevabi{
    float: left;
    height: 25vh;
    width: 16%;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    border: solid white;
}

.hevabi:hover{
    box-shadow: 10px 10px 15px black, -10px -10px 15px black;
}

.sumugalbar{
    width: 75%;
    height: 5vh;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    border: solid black;
}

.tit8{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.tit8info{
    text-align: center;
    color: white;
}

.yellow{
    background-color: gray;
    margin-top: 20px;
    margin-left: 130px;
    width: 80%;
    height: 30vh;
    border-radius: 20px;
    border: solid black;
    border: solid white;
}

.coldplay{
    float: left;
    height: 25vh;
    width: 16%;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    border: solid white;
}

.coldplay:hover{
    box-shadow: 10px 10px 15px black, -10px -10px 15px black;
}

.yellowbar{
    width: 75%;
    height: 5vh;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    border: solid black;
}

.tit9{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.tit9info{
    text-align: center;
    color: white;
}

.romcom{
    background-color: gray;
    margin-top: 20px;
    margin-left: 130px;
    width: 80%;
    height: 30vh;
    border-radius: 20px;
    border: solid black;
    border: solid white;
}

.robdeniel{
    float: left;
    height: 25vh;
    width: 16%;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    border: solid white;
}

.robdeniel:hover{
    box-shadow: 10px 10px 15px black, -10px -10px 15px black;
}

.romcombar{
    width: 75%;
    height: 5vh;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    border: solid black;
}

.tit10{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.tit10info{
    text-align: center;
    color: white;
}

@media (max-width: 768px) {

    .babaero{
        width: 65%;
        height: 40vh;
        margin-left: 60px;
    }

    .hevabi{
        margin-top: 5px;
    }

    .tit1{
        font-size: 18px;
    }

    .babaerobar{
        margin-top: 5px;
    }

    .palagi{
        width: 65%;
        height: 40vh;
        margin-left: 60px;
    }

    .tjmonterde{
        margin-top: 5px;
        width: 80%;
    }

    .tit2{
        font-size: 18px;
    }

    .palagibar{
        margin-top: 5px;
    }

    .bibingka{
        width: 65%;
        height: 40vh;
        margin-left: 60px;
    }

    .benandben{
        margin-top: 5px;
        width: 80%;
    }

    .tit3{
        font-size: 18px;
    }

    .bibingkabar{
        margin-top: 5px;
    }

    .tenerifesea{
        width: 65%;
        height: 40vh;
        margin-left: 60px;
    }

    .edsheeran{
        margin-top: 5px;
        width: 80%;
    }

    .tit4{
        font-size: 18px;
    }

    .tenerifeseabar{
        margin-top: 5px;
    }

    .saan{
        width: 65%;
        height: 40vh;
        margin-left: 60px;
    }

    .maki{
        margin-top: 5px;
        width: 80%;
    }

    .tit5{
        font-size: 18px;
    }

    .saanbar{
        margin-top: 5px;
    }

    .walangalam{
        width: 65%;
        height: 40vh;
        margin-left: 60px;
    }

    .hevabi{
        margin-top: 5px;
        width: 80%;
    }

    .tit6{
        font-size: 18px;
    }

    .walangalambar{
        margin-top: 5px;
    }

    .cruelsummer{
        width: 65%;
        height: 40vh;
        margin-left: 60px;
    }

    .taylorswift{
        margin-top: 5px;
        width: 80%;
    }

    .tit7{
        font-size: 18px;
    }

    .cruelsummerbar{
        margin-top: 5px;
    }

    .sumugal{
        width: 65%;
        height: 40vh;
        margin-left: 60px;
    }

    .hevabi{
        margin-top: 5px;
        width: 80%;
    }

    .tit8{
        font-size: 18px;
    }

    .sumugalbar{
        margin-top: 5px;
    }

    .yellow{
        width: 65%;
        height: 40vh;
        margin-left: 60px;
    }

    .coldplay{
        margin-top: 5px;
        width: 80%;
    }

    .tit9{
        font-size: 18px;
    }

    .yellowbar{
        margin-top: 5px;
    }

    .romcom{
        width: 65%;
        height: 40vh;
        margin-left: 60px;
    }

    .robdeniel{
        margin-top: 5px;
        width: 80%;
    }

    .tit10{
        font-size: 18px;
    }

    .romcombar{
        margin-top: 5px;
    }

}

    
