*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mp3clone{
    text-align: center;
}

.title{
    font-size: 70px;
    color: white;
    text-shadow: 5px 5px 3px blueviolet, -5px -5px 3px red;
}

.developer{
    font-size: 20px;
    color: white;
}

.babaero{
    background-color: gray;
    margin-top: 20px;
    margin-left: 130px;
    width: 80%;
    height: 30vh;
    border-radius: 20px;
    border: solid white;
}

.hevabi{
    float: left;
    height: 25vh;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    border: solid white;
}

.hevabi:hover{
    box-shadow: 10px 10px 15px rgb(61, 181, 255), -10px -10px 15px rgb(61, 181, 255);
}

.babaerobar{
    width: 75%;
    height: 5vh;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    border: solid black;
}

.tit1{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.tit1info{
    text-align: center;
    color: white;
}

.palagi{
    background-color: gray;
    margin-top: 20px;
    margin-left: 130px;
    width: 80%;
    height: 30vh;
    border-radius: 20px;
    border: solid black;
    border: solid white;
}

.tjmonterde{
    float: left;
    width: 16%;
    height: 25vh;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    border: solid white;
}

.tjmonterde:hover{
    box-shadow: 10px 10px 15px rgb(61, 181, 255), -10px -10px 15px rgb(61, 181, 255);
}

.palagibar{
    width: 75%;
    height: 5vh;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    border: solid black;
}

.tit2{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.tit2info{
    text-align: center;
    color: white;
}

.bibingka{
    background-color: gray;
    margin-top: 20px;
    margin-left: 130px;
    width: 80%;
    height: 30vh;
    border-radius: 20px;
    border: solid black;
    border: solid white;
}

.benandben{
    float: left;
    height: 25vh;
    width: 16%;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    border: solid white;
}

.benandben:hover{
    box-shadow: 10px 10px 15px rgb(61, 181, 255), -10px -10px 15px rgb(61, 181, 255);
}

.bibingkabar{
    width: 75%;
    height: 5vh;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    border: solid black;
}

.tit3{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.tit3info{
    text-align: center;
    color: white;
}

.tenerifesea{
    background-color: gray;
    margin-top: 20px;
    margin-left: 130px;
    width: 80%;
    height: 30vh;
    border-radius: 20px;
    border: solid black;
    border: solid white;
}

.edsheeran{
    float: left;
    height: 25vh;
    width: 16%;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    border: solid white;
}

.edsheeran:hover{
    box-shadow: 10px 10px 15px rgb(61, 181, 255), -10px -10px 15px rgb(61, 181, 255);
}

.tenerifeseabar{
    width: 75%;
    height: 5vh;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    border: solid black;
}

.tit4{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.tit4info{
    text-align: center;
    color: white;
}

.saan{
    background-color: gray;
    margin-top: 20px;
    margin-left: 130px;
    width: 80%;
    height: 30vh;
    border-radius: 20px;
    border: solid black;
    border: solid white;
}

.maki{
    float: left;
    height: 25vh;
    width: 16%;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    border: solid white;
}

.maki:hover{
    box-shadow: 10px 10px 15px rgb(61, 181, 255), -10px -10px 15px rgb(61, 181, 255);
}

.saanbar{
    width: 75%;
    height: 5vh;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    border: solid black;
}

.tit5{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.tit5info{
    text-align: center;
    color: white;
}

@media (max-width: 768px) {

    .babaero{
        width: 65%;
        height: 40vh;
        margin-left: 60px;
    }

    .hevabi{
        margin-top: 5px;
    }

    .tit1{
        font-size: 18px;
    }

    .babaerobar{
        margin-top: 5px;
    }

}

    