*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

.myworks{
    border: solid 1px black;
    border-radius: 20px;
}

.mywrks{
    border: solid 3px black;
    background-image: linear-gradient(to top, blue, red);
    position: fixed;
    width: 100%;
    font-family: 'Jersey 10', sans-serif;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home{
    z-index: -1;
    position: sticky;
    top: 0;
    background: url(Images/minimal-background.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage{
    position: fixed;
    margin-top: 320px;
    margin-left: 50px;
}

.hire{
    width: 25%;
    height: 5vh;
    font-family: sans-serif;
    font-size: 18px;
}

.renz{
    height: 50vh;
    width: 28%;
    float: right;
    margin-top: 200px;
    margin-right: 140px;
    border: solid 3px white;
    border-radius: 200px;
    box-shadow: 8px 8px 8px black;
}

span{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 1000;
    position: relative;
    color: white;
    -webkit-text-stroke: 2px black;
}

span::before{
    position: absolute;
    content: "WELCOME!!";
    color: red;
    animation: filling 2s linear infinite;
    border-right: 3px solid black;
    overflow: hidden;
}

.page{
    font-family: sans-serif;
    font-size: 20px;
}

@keyframes filling{
    0% {width: 0%;}
    50% {width: 100%;}
    100% {width: 0%;}
}

.wrks{
    height: 200vh;
    background-color: aliceblue;
    border: solid white;
    border-radius: 20px;
    background-image: linear-gradient(to top, #4A6274, #94ACBF ,#FDD8D6);
}

.job1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.work1{
    background-color: gray;
    height: 50vh;
    width: 30%;
    margin-left: 150px;
    margin-top: 30px;
    background-image: linear-gradient(to top, gray, black);
    border: solid 2px white;
    border-radius: 20px;
}

.fbclone{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: solid 2px gray;
    border-radius: 20px;
}

.info1{
    margin-top: 23px;
    background-image: linear-gradient(to bottom, #79AEB2, #253038 );
    color: white;
    width: 80%;
    padding: 10px;
    border: solid 2px black;
    border-radius: 20px;
}

.fbinfo{
    text-align: center;
    font-size: 17px;
}

.work2{
    background-color: gray;
    height: 50vh;
    width: 30%;
    margin-left: 10px;
    margin-top: 30px;
    background-image: linear-gradient(to top, gray, black);
    border: solid 2px white;
    border-radius: 20px;
}

.itechlogo{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: solid 2px gray;
    border-radius: 20px;
}

.info2{
    margin-top: 15px;
    background-image: linear-gradient(to bottom, #79AEB2, #253038 );
    color: white;
    width: 80%;
    padding: 10px;
    border: solid 2px black;
    border-radius: 20px;
}

.gameinfo{
    text-align: center;
    font-size: 17px;
}

.job2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.work3{
    background-color: gray;
    height: 52vh;
    width: 30%;
    margin-left: 150px;
    background-image: linear-gradient(to top, gray, black);
    border: solid 2px white;
    border-radius: 20px;
}

.mp3clone{
    height: 30vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border: solid 2px gray;
    border-radius: 20px;
}

.info3{
    margin-top: 5px;
    background-image: linear-gradient(to bottom, #79AEB2, #253038 );
    color: white;
    width: 80%;
    padding: 10px;
    border: solid 2px black;
    border-radius: 20px;
}

.mp3info{
    text-align: center;
    font-size: 17px;
}

.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom ,#79AEB2, #253038) ; 
    margin-top: 5px;   
    height: 6vh;
    width: 21%;
    border-radius: 25px;
}

.button1{
    height: 5vh;
    margin-top: 3px;
    font-size: 16px;
    border-radius: 20px;
    padding: 3px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom ,#537679, #1a2227) ; 
}

.button1:hover{
    background-image: linear-gradient(to bottom ,#79AEB2, #253038) ; 
    border: none; 
    cursor: pointer;
}

.music{
    font-size: 16px;
    text-decoration: none;
    color: white;
} 

.work4{
    background-color: gray;
    height: 52vh;
    width: 30%;
    margin-left: 10px;
    background-image: linear-gradient(to top, gray, black);
    border: solid 2px white;
    border-radius: 20px;
}

.calculator{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: solid 2px gray;
    border-radius: 20px;
}

.info4{
    margin-top: 15px;
    background-image: linear-gradient(to bottom, #79AEB2, #253038 );
    color: white;
    width: 80%;
    padding: 10px;
    border: solid 2px black;
    border-radius: 20px;
}

.calcuinfo{
    text-align: center;
    font-size: 17px;
}

.job3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.work5{
    background-color: gray;
    height: 52vh;
    width: 30%;
    margin-left: 150px;
    background-image: linear-gradient(to top, gray, black);
    border: solid 2px white;
    border-radius: 20px;
}

.solarsystem{
    height: 30vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border: solid 2px gray;
    border-radius: 20px;
}

.info5{
    margin-top: 5px;
    background-image: linear-gradient(to bottom, #79AEB2, #253038 );
    color: white;
    width: 80%;
    padding: 10px;
    border: solid 2px black;
    border-radius: 20px;
}

.solarinfo{
    text-align: center;
    font-size: 17px;
}

.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom ,#79AEB2, #253038) ; 
    margin-top: 5px;   
    height: 6vh;
    width: 21%;
    border-radius: 25px;
}

.button2{
    height: 5vh;
    margin-top: 3px;
    font-size: 16px;
    border-radius: 20px;
    padding: 3px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom ,#537679, #1a2227) ; 
}

.button2:hover{
    background-image: linear-gradient(to bottom ,#79AEB2, #253038) ; 
    border: none; 
    cursor: pointer;
}

.solar{
    font-size: 16px;
    text-decoration: none;
    color: white;
} 

.work6{
    background-color: gray;
    height: 50vh;
    width: 30%;
    margin-left: 10px;
}

.wrk6{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 368px) {
    .mywrks{
        font-size: 80px;
    }

    .renz{
        margin-right: 80px;
        margin-top: 150px;
        height: 30vh;
        width: 60%;
    }

    .welcome{
        font-size: 50px;
        margin-left: 30px;
    }

    .homepage{
        margin-top: 400px;
    }

    .page{
        font-size: 20px;
        margin-right: 30px;
        text-align: center;
    }

    .wrks{
        height: 400vh;
    }

    .job1{
        display: flex;
        flex-direction: column;
    }

    .work1{
        width: 80%;
        margin-left: 30px;
    }

    .work2{
        width: 80%;
        margin-left: 30px;
    }

    .itechlogo{
        margin-top: 5px;
    }

    .info2{
        margin-top: 2px;
    }

    .job2{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .work3{
        height: 55vh;
        width: 80%;
        margin-left: 30px;
    }

    .btn1{
        width: 30%;
    }

    .work4{
        width: 80%;
        margin-left: 30px;
        margin-top: 30px;
    }

    .mp3clone{
        margin-top: 5px;
    }

    .info2{
        margin-top: 2px;
    }

    .job3{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .work5{
        height: 55vh;
        width: 80%;
        margin-left: 30px;
    }

    .btn2{
        width: 30%;
    }

    .work6{
        height: 55vh;
        width: 80%;
        margin-left: 30px;
        margin-top: 30px;

    }


}
