* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.mydiv {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.bar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    background-color: #222222;
    border: solid white;
    border-radius: 10px;
}

.logo {
    height: 10vh;
    margin-left: 30px;
    padding: 10px;
    border-radius: 150px;
}

.logo:hover {
    cursor: pointer;
    translate: 1rem;
    transition: 0.5s;
}

.button {
    display: flex;
    align-items: end;
    margin-right: 50px;
    gap: 1rem;
    font-size: 18px;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

ul li a:hover {
    color: rgb(168, 80, 193);
}

.info a {
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 40px;
    padding: 3px 18px;
    border-radius: 50px;
}

.profile {
    border-radius: 500px;
    width: 30%;
    float: right;
    margin-right: 100px;
    margin-top: 170px;
    box-shadow: 0 10px 10px rgb(126, 126, 126), 10px 10px rgb(53, 53, 53);
}

.profile:hover {
    box-shadow: 0 20px 25px rgb(126, 126, 126), 25px 25px rgb(53, 53, 53);
    transition: 0.3s;
}

.image {
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.tit {
    font-size: 50px;
}

.information {
    float: left;
    font-size: 10px;
    margin-left: 50px;
    margin-top: 250px;
}

.name {
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.job {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 900;
}

.info {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.btn1{
    margin-top: 20px;
    font-size: 20px;
    border: solid 2px white;
    border-radius: 20px;
    background-color: black;
    height: 6vh;
    width: 17%;
}

.btn1:hover{
    background-color: white;
    border: solid 2px black;
    cursor: pointer;
    transition: all 1s ease-in-out ;
}

.hire{
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    color: white;
}

.hire:hover{
    color: black;
}

.btn2{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    border: solid 2px white;
    border-radius: 20px;
    background-color: black;
    height: 6vh;
    width: 17%;
}

.btn2:hover{
    background-color: white;
    border: solid 2px black;
    cursor: pointer;
    transition: all 1s ease-in-out ;
}

.works{
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    color: white;
}

.works:hover{
    color: black;
}

.btn2{
    margin-top: 13px;
}

.buttons a:hover {
    background-color: white;
    border: solid black;
    color: black;
    transition: 0.8s;
    scale: 2;
}

.fa-brands {
    margin-top: 20px;
}

.fa-brands {
    margin-left: 20px;
}

#Home {
    height: 100vh;
    width: 100%;
}

#Skills {
    width: 98%;
    margin-left: 10px;
    height: 110vh;
    border-radius: 50px;
    border: solid white;
    background-color: #222222;
}

.abt {
    padding: 10px;
    margin-top: 50px;
}

.Html {
    background-color: rgb(255, 255, 255);
    height: 250px;
    width: 20%;
    margin-top: 50px;
    margin-left: 30px;
    padding: 10px;
    border: solid black;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgb(126, 126, 126), 10px 10px rgb(53, 53, 53);
}

.Html:hover {
    box-shadow: 0 20px 25px rgb(126, 126, 126), 25px 25px rgb(53, 53, 53);
    transition: 0.3s;
}

.Photoshop {
    height: 250px;
    width: 20%;
    background-color: #ffffff;
    margin-left: 100px;
    padding: 10px;
    border: solid black;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgb(126, 126, 126), 10px 10px rgb(53, 53, 53);
}

.Photoshop:hover {
    box-shadow: 0 20px 25px rgb(126, 126, 126), 25px 25px rgb(53, 53, 53);
    transition: 0.3s;
}

.Css {
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin-left: 100px;
    padding: 10px;
    border: solid black;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgb(126, 126, 126), 10px 10px rgb(53, 53, 53);
}

.Css:hover {
    box-shadow: 0 20px 25px rgb(126, 126, 126), 25px 25px rgb(53, 53, 53);
    transition: 0.3s;
}

.mySkill {
    border: solid white;
    border-radius: 10px;
    margin-left: 24%;
    margin-top: 0;
    background-color: black;
    width: 600px;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.skillbar {
    width: 50%;
    margin: 60px auto;
    padding: 20px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 5px rgb(126, 126, 126), 5px 5px rgb(53, 53, 53);
}

.skill {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.skillname {
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: 900;
    margin: 10px;
}

.skill-bar {
    height: 14px;
    background: gray;
    border-radius: 3px;
    box-shadow: 0 5px 5px rgb(0, 0, 0), 5px 5px rgb(226, 163, 163);
}

.skill-bar:hover {
    box-shadow: 0 10px 10px rgb(0, 0, 0), 10px 10px rgb(226, 163, 163);
    transition: 0.3s;
}

.skill-per {
    height: 14px;
    background: #222222;
    border-radius: 3px;
    animation: fillBars 10s;
}

@keyframes fillBars {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

#About {
    width: 100%;
    height: 20vh;
}

.aboutme {
    width: 40%;
    font-size: 50px;
    padding: 90px;
    margin-top: 10%;
    margin-left: 10%;
    color: red;
    text-shadow: 0 5px 5px black;
    border-radius: 50px;
}

.aboutme:hover {
    color: white;
    text-shadow: 0 5px 5px rgb(19, 19, 19), 5px 5px rgb(0, 0, 0);
    transition: 0.5s;
}

.abt1{
    margin-top: 10%;
}

.abt2 {
    margin-top: 20px;
    margin-right: 150px;
    width: 25%;
    height: 50vh;
    border: solid white;
    box-shadow: 5px 5px 15px 15px rgb(97, 96, 96);
    float: right;
}

.abtinfo {
    margin-top: 60px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 100px;
    background-color: rgb(44, 43, 43);
    border: solid white;
}

.abt2:hover {
    box-shadow: 0 20px 25px rgb(126, 126, 126), 25px 25px rgb(53, 53, 53);
    transition: 0.3s;
}

#Contact {
    width: 100%;
    height: 30vh;
}

.contactnav {
    background-color: rgb(0, 0, 0);
    height: 100%;
    margin-top: 550px;
    border: 5px solid white;
    font-size: 12px;
}

.mycontact {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.social {
    text-align: center;
}

.number {
    color: white;
}

.email {
    margin-top: 10px;
    color: white;
}

@media (max-width: 1033px) {

    .abt2 {
        margin-right: 10px;
    }

    .information {
        font-size: 10px;
    }

    .name {
        font-size: 50px;
    }

    .tit {
        font-size: 30px;
    }

    #Skills {
        height: 75vh;
    }

    .mySkill {
        margin-left: 400px;
        width: 20%;
    }

    .Html {
        height: 20vh;
        width: 20%;
        margin-top: 10px;
        margin-left: 100px;
    }

    .Css {
        height: 20vh;
        width: 20%;
        margin-top: 10px;
        margin-left: 80px;
    }

    .Photoshop {
        height: 20vh;
        width: 20%;
        margin-top: 10px;
        margin-left: 80px;
    }

    .abt2 {
        margin-right: 100px;
    }

}

@media (max-width: 912px) {

    .name {
        font-size: 40px;
    }

    #Skills {
        height: 80vh;
    }

    .mySkill {
        margin-left: 350px;
    }

    .aboutme {
        width: 25%;
    }

    .abt2 {
        width: 30%;
        height: 40vh;
        margin-top: 65px;
    }

}

@media (max-width: 813px) {

    .name {
        font-size: 40px;
    }

    .tit {
        font-size: 20px;
    }

    .profile {
        margin-right: 30px;
    }

    .information {
        font-size: 3px;
        margin-top: 200px;
    }

    .mySkill {
        margin-left: 330px;
    }

    .abt2 {
        margin-top: 80px;
    }

}


@media (max-width: 768px) {

    #Home {
        height: 70vh;
    }

    .bar {
        background-color: black;
        margin: auto;
        position: fixed;
        height: 10%;
    }

    .logo {
        margin-left: 0;
        float: left;
    }

    .profile {
        margin-right: 30px;
        height: 40%;
        width: 30%;
        margin-top: 160px;
    }

    .button {
        position: absolute;
        font-size: 15px;
        gap: 0;
        margin-left: 300px;
        margin-top: 0;
    }

    .ul li {
        position: absolute;
        display: block;
        gap: 0;
    }

    .information {
        margin-top: 150px;
        margin-left: 20px;
        font-size: 6px;
        padding: 10px;
    }

    .info {
        font-size: 20px;
    }

    .tit {
        font-size: 18px;
    }

    .name {
        font-size: 30px;
        text-shadow: 0 5px 5px black;
    }

    .job {
        margin-left: 30px;
        font-size: 40px;
        color: red;
        text-shadow: 0 5px 5px black;
    }

    .Hire {
        font-size: 5px;
        margin-left: 65px;
    }

    .mySkill {
        width: 40%;
        margin-left: 210px;
    }

    .abt {
        padding: 10px;
    }

    .Html {
        height: 20vh;
        width: 30%;
        margin-top: 10px;
        margin-left: 250px;
    }

    .Css {
        height: 20vh;
        width: 30%;
        margin-top: 10px;
        margin-left: 250px;
    }

    .Photoshop {
        height: 20vh;
        width: 30%;
        margin-top: 10px;
        margin-left: 250px;
    }

    .skillbar {
        margin-top: 20px;
        width: 50%;
        height: 30vh;
    }

    #Skills {
        height: 115vh;
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }

    #About {
        margin-top: 100px;
    }

    .aboutme {
        width: 30%;
        margin-top: 10px;
        margin-left: 120px;
        float: left;
    }

    .abt2 {
        height: 30vh;
        width: 30%;
        margin-top: 2px;
        margin-bottom: 20px;
        margin-right: 90px;
        border-radius: 20px;
    }

    .abtinfo {
        margin-top: 10px;
        font-size: 14px;
        text-align: center;
        padding: 80px;
    }

    .fname {
        color: red;
    }

    #Contact {
        width: 100%;
        height: 29vh;
        margin-top: 400px;
        font-size: 10px;
        margin-left: 2px;
    }

    @media (max-width: 694px) {

        #Home {
            height: 100vh;
        }

        .tit {
            font-size: 20px;
        }

        .name {
            font-size: 30px;
        }

        .job {
            font-size: 30px;
        }

        .information {
            font-size: 6px;
            color: white;
            margin-top: 20px;
            margin-left: 150px;
        }

        .profile {
            width: 45%;
            margin-right: 200px;
            margin-top: 100px;
        }

        .mySkill {
            margin-left: 180px;
        }

        .Html {
            height: 20vh;
            width: 30%;
            margin-top: 10px;
            margin-left: 210px;
        }

        .Css {
            height: 20vh;
            width: 30%;
            margin-top: 10px;
            margin-left: 210px;
        }

        .Photoshop {
            height: 20vh;
            width: 30%;
            margin-top: 10px;
            margin-left: 210px;
        }

        .abt2 {
            margin-top: 10px;
        }

        #Contact {
            height: 30vh;
        }

        .mycontact {
            margin-top: 10px;
        }

        .contactnav {
            margin-top: 500px;
        }

    }


    @media (max-width: 591px) {

        .button {
            margin-left: 150px;
        }

        .profile {
            width: 50%;
            margin-right: 150px;
        }

        .information {
            margin-left: 100px;
        }

        .mySkill {
            margin-left: 160px;
        }

        .Html {
            height: 20vh;
            width: 30%;
            margin-top: 10px;
            margin-left: 190px;
        }

        .Css {
            height: 20vh;
            width: 30%;
            margin-top: 10px;
            margin-left: 190px;
        }

        .Photoshop {
            height: 20vh;
            width: 30%;
            margin-top: 10px;
            margin-left: 190px;
        }

        .aboutme {
            width: 35%;
            margin-left: 80px;
        }

    }

    @media (max-width: 511px) {

        .button {
            margin-left: 100px;
        }

        .profile {
            width: 60%;
            margin-right: 100px;
        }

        .information {
            margin-left: 70px;
        }

        #Skills {
            height: 120vh;
        }

        .mySkill {
            margin-left: 140px;
        }

        .Html {
            height: 20vh;
            width: 35%;
            margin-top: 10px;
            margin-left: 150px;
        }

        .Css {
            height: 20vh;
            width: 35%;
            margin-top: 10px;
            margin-left: 150px;
        }

        .Photoshop {
            height: 20vh;
            width: 35%;
            margin-top: 10px;
            margin-left: 150px;
        }

        .aboutme {
            width: 38%;
            margin-left: 35px;
        }

    }

    @media (max-width: 440px) {

        .button {
            margin-left: 65px;
            font-size: 13px;
        }

        .profile {
            height: 35vh;
            margin-right: 80px;
        }

        .information {
            margin-left: 40px;
        }

        .aboutme {
            font-size: 25px;
            margin-left: 120px;
        }

        .abt2 {
            height: 30vh;
            width: 60%;
        }

        #Contact {
            height: 30vh;
        }

        .mycontact {
            margin-top: 10px;
        }

        .contactnav {
            margin-top: 700px;
        }



    }

    @media (max-width: 380px) {

        .mySkill{
            margin-left: 100px;
        }

        .Html {
            height: 20vh;
            width: 50%;
            margin-top: 10px;
            margin-left: 80px;
        }

        .Css {
            height: 20vh;
            width: 50%;
            margin-top: 10px;
            margin-left: 80px;
        }

        .Photoshop {
            height: 20vh;
            width: 50%;
            margin-top: 10px;
            margin-left: 80px;
        }

        .skillname{
            font-size: 15px;
            margin-left: 0;
        }

        .aboutme{
            width: 45%;
            margin-left: 100px;
        }

        .fbclone{
            width: 60%;
            margin-left: 70px;
        }

        .itechlogo{
            width: 60%;
            margin-right: 70px;
        }

        .contactnav{
            margin-top: 800px;
        }

    }


    @media (max-width: 368px) {

        .bar {
            background-color: black;
            margin: auto;
            position: fixed;
            height: 10%;
        }

        .logo {
            margin-left: 0;
            width: 26%;
            height: 10vh;
        }

        .profile {
            margin-right: 70px;
            height: 30%;
            width: 60%;
            margin-top: 100px;
        }

        .button {
            gap: 0;
            font-size: 12px;
            margin-left: 55px;
        }

        .btn1 {
            font-size: 15px;
            margin-left: 40px;
            margin-top: 30px;
            width: 30%;
        }

        .btn2 {
            font-size: 15px;
            margin-left: 10px;
            margin-top: 20px;
            width: 30%;        }

        .ul li {
            gap: 0;
        }

        .information {
            margin-top: 30px;
            margin-left: 20px;
            font-size: 10px;
            padding: 10px;
        }

        .tit {
            font-size: 25px;
        }

        .name {
            font-size: 40px;
            text-shadow: 0 5px 5px black;
        }

        .job {
            margin-left: 30px;
            font-size: 50px;
            color: red;
            text-shadow: 0 5px 5px black;
        }

        .Hire {
            font-size: 10px;
            margin-left: 65px;
        }

        .mySkill {
            width: 45%;
            margin-left: 90px;
        }

        .abt {
            padding: 10px;
        }

        .Html {
            height: 20vh;
            width: 50%;
            margin-top: 10px;
            margin-left: 80px;
        }

        .Css {
            height: 20vh;
            width: 50%;
            margin-top: 10px;
            margin-left: 80px;
        }

        .Photoshop {
            height: 20vh;
            width: 50%;
            margin-top: 10px;
            margin-left: 80px;
        }

        .skillbar {
            margin-top: 20px;
            width: 70%;
            height: 30vh;
        }

        #Skills {
            height: 135vh;
            width: 100%;
            margin-top: 150px;
            margin-left: 0;
        }

        .aboutme {
            width: 55%;
            margin-top: 20px;
            margin-left: 100px;
            float: left;
            padding: 20px;
        }

        .abt2 {
            height: 30vh;
            width: 50%;
            margin-top: 20px;
            margin-bottom: 5px;
            margin-right: 90px;
            border-radius: 20px;
        }

        .abtinfo {
            font-size: 18px;
            text-align: center;
            padding: 60px;
        }

        .fname {
            color: red;
        }

        #Contact {
            width: 100%;
            height: 30vh;
            margin-top: 5px;
            font-size: 10px;
            margin-left: 2px;
        }
    }

    @media (max-width: 300px) {

        .button{
            font-size: 13px;
        }

        .profile{
            width: 80%;
            margin-right: 30px;
        }

        .tit{
            font-size: 15px;
        }

        .name{
            font-size: 25px;
        }

        .job{
            font-size: 35px;
            margin-left: 10px;
        }

        .info{
            font-size: 15px;
        }

        .Hire{
            margin-left: 20px;
        }

        .mySkill{
            font-size: 20px;
            margin-left: 75px;
        }

        .Html {
            height: 20vh;
            width: 60%;
            margin-top: 10px;
            margin-left: 55px;
        }

        .Css {
            height: 20vh;
            width: 60%;
            margin-top: 10px;
            margin-left: 55px;
        }

        .Photoshop {
            height: 20vh;
            width: 60%;
            margin-top: 10px;
            margin-left: 55px;
        }

        .aboutme{
            margin-left: 65px;
        }

        .abt2{
            margin-top: 0;
            margin-right: 65px;
        }

        .abtinfo{
            font-size: 15px;
            padding: 60px;
        }

        #About{
            height: 140vh;
        }

        #Contact{
            height: 35vh;
            margin-top: 0;
        }

        .mycontact{
            height: 10vh;
        }

    }

}
